@media screen {

.splash-screen {
    display: flex;
    height: 100vh;
    padding: 10px;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar a {
    font-size: .8rem;
}

.navbar-item {
    display: flex;
    gap: 20px;
}

.navbar-item a:hover {
    color: var(--secondary-color);
}


.logo-icon {
    height:50px;
    /* width:auto; */
}

.account-icon {
    height:60px;
    /* width:auto; */
}

/* hero section */
.hero-section {
    gap: 30px;
    display: flex;
    flex-direction: column;
    /* text-align: center; */
}

.hero-section h2 {
    font-size: 1rem;
}

.hero-account {
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    display: flex;
    gap: 30px;
}

.account-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

}


@media screen and (min-width:48rem) {

.splash-screen {
    padding: 20px;
}

.navbar-item {
    gap: 30px;
}

.navbar a {
    font-size: 1rem;
}


.hero-section h2 {
    font-size: 1.2rem;
}

.logo-icon {
    height:60px;
    /* width:auto; */
}

.account-icon {
    height:70px;
    /* width:auto; */
}

/* hero section */
.hero-section {
    gap: 30px;
    display: flex;
    flex-direction: column;
    /* text-align: center; */
}

.hero-account {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    gap: 30px;
}

.account-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

}