@media screen {
  .panel {
    justify-content: space-evenly;
    height: 100vh;
    display: flex;
    overflow: hidden;
    overflow-y: auto;
  }

  /* float button side-bar */
  .home-nav {
    z-index: 4px;
    bottom: 15px;
    right: 15px;
    width: 50px;
    height: 50px;
    display: flex;
    cursor: pointer;
    position: absolute;
    align-items: center;
    border-radius: 360%;
    justify-content: center;
    background-color: var(--primary-color);
    border: 2px solid var(--text-light-color);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .home-nav:hover {
    animation: shake 2s ease 0s 1 normal forwards;
  }

  @keyframes shake {
	0%,
	100% {
		transform: translateY(0);
	}

	10%,
	30%,
	50%,
	70% {
		transform: translateY(-8px);
	}

	20%,
	40%,
	60% {
		transform: translateY(8px);
	}

	80% {
		transform: translateY(6.4px);
	}

	90% {
		transform: translateY(-6.4px);
	}
}

  .visible {
   display: none;
  }


  /* sidebar style */
  .side-bar {
    top: 0;
    left: 0;
    bottom: 0;
    gap: 20px;
    width: 50%;
    padding: 20px;
    position: absolute;
    flex-direction: column;
    /* color: var(--text-light-color); */
    border-radius: 0 8px 8px 0px;
    background-color: var(--primary-color);
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  @-webkit-keyframes fadeIn {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    }
    @keyframes fadeIn {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    } 

  .sidebar-logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .bar-logo {
    height: 70px;
  }

  .navbar-contained {
    z-index: 10;
    height: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
  }

  .sidebar-nav-items {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .sidebar-nav-items a {
    border-radius: 8px;
    padding: 4px 6px;
  }

  .sidebar-nav-items a:hover,
  .active-link {
    background-color: var(--chat-sms-color);
    border-radius: 8px;
    padding: 4px 6px;
  }

  .sidebar-link,
  .footer-link {
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .icon-bar {
    height: 15px;
  }

  .sidebar-nav-items span,
  .side-bar span {
    color: var(--text-light-color);
    font-size: 0.7rem;
  }

  /* main section style */
  .main-section {
    overflow-y: auto;
    width: 100%;
  }
}

@media screen and (min-width: 48rem) {
  .panel {
    padding: 5px;
    gap: 20px;
  }

  .home-nav {
        display: none;
    }

  /* sidebar style */
  .side-bar {
    float: left;
    display: flex;
    position: relative;
    border-radius: 8px;
    width: var(--side-width);
    -webkit-animation-name: none;
    animation-name: none;
  }

  .navbar-contained {
    height: 100%;
  }

  .bar-logo {
    height: 100px;
  }

  .sidebar-nav-items {
    gap: 5px;
    height: 60%;
  }

  .icon-bar {
    height: 20px;
  }

  .sidebar-nav-items span,
  .side-bar span {
    font-size: 0.8rem;
  }

  /* main section style */
  .main-section {
    width: calc(100% - var(--side-width));
  }
}
